body {
    background: #65b8a6;
    font-family: "Inter", sans-serif;
}

.toastr {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: none;
    position: absolute;

    background: rgb(248, 212, 113);
    width: 250px;
    height: 20px;
    border-radius: 5px;
    padding: 10px 15px;
    top: 60px;
    left: 150px;
    border: 1px solid rgb(250, 190, 80);
    color: rgb(187, 123, 4);
}
.img-exclamation {
    padding-right: 7px;
}

.seccion-principal {
    display: inline-block;
}

.caja {
    position: absolute;
    top: 50px;
    left: 70px;
}

.logo {
    width: 15%;
}
.seccion-izquierda {
    width: 1000px;
    margin-top: 110px;
    margin-left: 150px;
    display: inline-block;
    vertical-align: bottom;
}

textarea {
    resize: none;
    border: none;
    background: none;
}

.mensajeEntrada {
    font-family: "Inter", sans-serif;
    width: 870px;
    height: 450px;
    font-size: 32px;
    font-weight: 700;
    outline: none;
    color: #1f192f;
}

.mensajeEntrada::placeholder {
    color: #1f192f;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.img-signo {
    height: 17px;
}

.mensajeAdvertencia {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #495057;
    display: inline-block;
    vertical-align: top;
}

.botonEncriptar,
.botonDesencriptar,
.botonCopiar {
    font-family: "Inter", sans-serif;
    width: 300px;
    height: 70px;
    border-radius: 25px;
    border: 1px solid #2d6073;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all;
}
.botonEncriptar:hover,
.botonDesencriptar:hover,
.botonCopiar:hover {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.28);
}

.botonCopiar:active,
.botonEncriptar:active,
.botonDesencriptar:active {
    transform: scale(0.97);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.botonEncriptar {
    background: #1f192f;
    color: #ffffff;
    margin: 10px 30px 10px 30px;
}

.botonDesencriptar {
    margin: 10px 30px 10px 30px;
    color: #2d6073;
    background: #b5e8c3;
}

.seccion-derecha {
    width: 350px;
    height: 700px;
    vertical-align: top;
    background: #f0f7da;
    display: inline-block;
    border-radius: 32px;
    margin-top: 20px;
    user-select: none;
    box-shadow: 0px 32px 32px -8px rgba(0, 0, 0, 0.28);
}

.caja-imagen {
    margin: 150px 0;
}

.imagen-decorativa {
    width: 90%;
    margin: 0 5%;
}

.firsth-mg {
    font-family: "Inter", sans-serif;
    width: 90%;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: #343a40;
    padding: 5px;
    margin-top: 20px;
}

.second-mg {
    font-family: "Inter", sans-serif;
    width: 90%;
    text-align: center;
    font-size: 14px;
    color: #495057;
    padding: 5px;
    margin-top: 10px;
}

.caja-texto {
    display: none;
}
.textoEncotrado {
    font-family: "Inter", sans-serif;
    height: 550px;
    width: 87%;
    font-size: 24px;
    font-weight: 550;
    margin: 30px auto;
    line-height: 120%;
    color: #1f192f;
    display: block;
    outline: none;
}

.caja-boton {
    display: none;
}

.botonCopiar {
    margin: 10px auto;
    color: #2d6073;
    display: block;
    background: #b5e8c3;
}

footer {
    text-align: center;
    background: #1f192f;
    padding: 30px;
    margin-top: 2em;
    vertical-align: baseline;
    color: #ffffff;
    font-size: 0.7em;
}

footer p {
    padding: 5px;
}

.img-github,
.img-linkedin {
    padding: 5px;
    margin: 5px 10px;
}

@media screen and (max-width: 1200px) {
    .toastr {
        right: 10px;
    }
    .seccion-principal {
        display: flex;
        flex-direction: column;
    }
    .caja {
        top: 50px;
        left: 60px;
    }
    .seccion-izquierda {
        width: 100%;
        height: 80%;
        margin: 150px 60px 15px 10px;
    }
    .caja-entrada {
        margin-left: 50px;
    }
    .mensajeEntrada {
        width: 95%;
    }
    .caja-botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .botonDesencriptar,
    .botonEncriptar {
        width: 50%;
    }
    .seccion-derecha {
        width: 95%;
        height: auto;
        margin: 30px auto;
    }
    .textoEncotrado {
        height: 8em;
    }

    .caja-imagen {
        margin: 10px auto;
    }
    .firsth-mg,
    .second-mg {
        margin: 20px auto;
    }

    .imagen-decorativa {
        display: none;
    }
    .botonCopiar {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .toastr {
        font-size: 16px;
        top: 5px;
        right: 5px;
        width: 50%;
        height: 13px;
        text-align: center;
    }

    .caja {
        top: 5px;
        left: 5px;
    }
    .logo {
        width: 12%;
    }
    .seccion-izquierda {
        margin: 70px 15px 15px 5px;
    }
    .caja-entrada {
        margin-left: 15px;
        margin-right: 15px;
    }
    .mensajeEntrada {
        font-size: 24px;
        height: 10em;
    }

    .caja-botones {
        flex-direction: column;
    }
    .botonDesencriptar,
    .botonEncriptar {
        width: 90%;
        height: 50px;
        margin: 10px auto;
    }
    .seccion-derecha {
        width: 92%;
        margin: 5px auto;
    }
    .textoEncotrado {
        margin: 10px auto;
    }

    .firsth-mg,
    .second-mg {
        width: 80%;
        margin: 10px auto;
    }
    .botonCopiar {
        height: 50px;
    }
}
